.lead__caption {
    text-align: left;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    margin: 8px 0 0;
    letter-spacing: 1.5px;
    align-self: self-start;
    text-transform: uppercase;

    @media (width < 1024px) {
        margin-left: 24px;
    }

    @media (width < 768px) {
        margin-left: 16px;
    }
}